/*
====================================
SIDEBAR
====================================
*/


.sidebar {


    position:fixed;


    top:0;


    left:0;


    height:100vh;


    width:260px;


    background:
    var(--sidebar);


    border-right:
    1px solid var(--border);


    padding:24px;


    z-index:100;


}



.logo {


    display:flex;


    align-items:center;


    gap:12px;


    font-size:20px;


    font-weight:700;


    margin-bottom:40px;


}




.logo-icon {


    width:38px;


    height:38px;


    display:flex;


    align-items:center;


    justify-content:center;


    border-radius:10px;


    background:
    var(--primary);


    color:white;


}





.menu {


    display:flex;


    flex-direction:column;


    gap:8px;


}




.menu-item {


    display:flex;


    align-items:center;


    gap:12px;


    padding:12px 14px;


    border-radius:10px;


    color:var(--secondary);


    transition:
    var(--transition);


}




.menu-item:hover {


    background:
    rgba(59,130,246,0.12);


    color:white;


    transform:
    translateX(4px);

}




.menu-item.active {


    background:
    var(--primary);


    color:white;


}





/*
====================================
NAVBAR
====================================
*/


.navbar {


    position:fixed;


    top:0;


    right:0;


    left:260px;


    height:80px;


    background:
    rgba(15,23,42,0.85);


    backdrop-filter:
    blur(10px);


    border-bottom:
    1px solid var(--border);


    display:flex;


    align-items:center;


    justify-content:space-between;


    padding:0 32px;


    z-index:90;


}




.user-box {


    display:flex;


    align-items:center;


    gap:12px;


}





.avatar {


    width:40px;


    height:40px;


    border-radius:50%;


    background:
    var(--primary);


    display:flex;


    align-items:center;


    justify-content:center;


    font-weight:700;


}




/*
====================================
DASHBOARD GRID
====================================
*/


.dashboard-grid {


    display:grid;


    grid-template-columns:
    repeat(3,1fr);


    gap:20px;


}



.section {


    margin-top:32px;


}