/*
=====================================
PREMIUM APPLICATION LAYOUT
=====================================
*/


.app-container {


    display:flex;


    min-height:100vh;


}



.main-area {


    margin-left:270px;


    width:
    calc(100% - 270px);


}



.content-wrapper {


    padding-top:90px;


}



.page-content {


    padding:

    35px 40px;


    animation:
    pageIn .25s ease;

}




.dashboard-grid {


    display:grid;


    grid-template-columns:
    repeat(4,1fr);


    gap:24px;


}




.section {


    margin-top:35px;

}





.hero {


    margin-bottom:35px;

}




.hero h1 {


    font-size:
    36px;


}



.hero p {


    margin-top:
    8px;

}