/*
====================================
AI DATABASE COPILOT
APPLICATION LAYOUT
====================================
*/


.app-container {

    display:flex;

    min-height:100vh;

}



/*
SIDEBAR SPACE
*/


.main-area {


    margin-left:260px;


    width:calc(100% - 260px);


    min-height:100vh;


    transition:var(--transition);

}




.page-content {


    padding:32px;

    animation:
    fadeIn 0.4s ease;

}




/*
NAVBAR SPACE
*/


.content-wrapper {


    padding-top:80px;

}





@keyframes fadeIn {


    from {

        opacity:0;

        transform:
        translateY(10px);

    }


    to {

        opacity:1;

        transform:
        translateY(0);

    }

}