<div class="common-bg">

    <div class="common-grid"></div>

    <div class="energy-glow glow-one"></div>

    <div class="energy-glow glow-two"></div>


    <div class="network-node node-one"></div>

    <div class="network-node node-two"></div>

    <div class="network-node node-three"></div>

    <div class="network-node node-four"></div>


    <div class="connection-line line-one"></div>

    <div class="connection-line line-two"></div>

    <div class="connection-line line-three"></div>


    <div class="data-particle particle-one"></div>

    <div class="data-particle particle-two"></div>

    <div class="data-particle particle-three"></div>


    <div class="radar-ring"></div>

    <div class="scan-beam"></div>


</div>